/* 颜色设置 */
:root {
    --red:           #B41E2B;
    --yellow:        #E1D894;
}

/* 左侧竖条 */
.active-nav-item[data-v-e1a7b3d5] {
    border-right: 4px solid var(--red);
}

/* 归零按钮 */
/* .v-application {
    --v-warning-base: var(--yellow);

}
 */